@font-face {
  font-family: recursive;
  src: url("/Recursive_VF_1.084.woff2");
}
  
* {

  --med-space: 1rem;

  --mono: "MONO" 0;
  --casl: "CASL" 0;
  --wght: 400;
  --slnt: "slnt" 0;
  --CRSV: "CRSV" 0.5;

  --bold-wght: 700;
  
  --white: #F8F3D7;
  --red: #B77647;
  --light-red: #C48F68;
  --lighter-red: #D1A88A;
  --green: #C2BD46;
  --blue: #BFC8D3;
}


*, *::before, *::after {
  box-sizing: border-box;
  
}
* {
  margin: 0;
  padding: 0;
  z-index: 1;

}
html, body {
  margin: 0;
  padding: 0;
  
  
  font-family: recursive;
  font-variation-settings: var(--mono), var(--casl), var(--slnt), var(--CRSV);
  font-weight: var(--wght);
}
body {
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  background-color: var(--white);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--bold-wght);
}
#root, #__next {
  isolation: isolate;
}


.element--border--primary {
  border: solid black 1px;
  border-radius: 1rem;
}

.delete_button{
  text-decorations: none;
  width: 5rem;
  padding: .5rem;
  background-color: var(--red);
  
    
  display: flex;
  justify-content: center;
}

.settings_button{
  text-decorations: none;
  width: 5rem;
  padding: .5rem;
  background-color: var(--blue);
  
    
  display: flex;
  justify-content: center;
}

.buy_button{
  text-decorations: none;
  width: 6rem;
  padding: .5rem;
  background-color: var(--green);
  
  display: flex;
  justify-content: center;
}


.flex {
  display: flex;
  gap: .5rem;
}


.horizontal_list {
  display: flex;
  overflow-x: scroll;
  padding: 0 .5rem;
  margin: 0 -.5rem;
  gap: .5rem;
  height: 100%;
 
  scrollbar-width: none;
}

.horizontal_list_item {
    height: 2rem;
    flex: 0 0 auto;
    min-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
    
.selected {
  background-color: var(--red);
}

input, textarea{
  border: none;
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  outline: 0;
  resize:none;
  overflow: auto;
}

summary { 
    cursor: pointer;
}

summary > * {
    display: inline;
}