@import 'open-color.css';

@font-face {
  font-family: recursive;
  src: url("/Recursive_VF_1.084.woff2");
}
  
* {

  --med-space: 1rem;

  --mono: "MONO" 0;
  --casl: "CASL" 0;
  --wght: 400;
  --slnt: "slnt" 0;
  --CRSV: "CRSV" 0.5;

  --bold-wght: 700;
  
  --white: #F8F3D7;
  --red: #B77647;
  --light-red: #C48F68;
  --lighter-red: #D1A88A;
  --green: #C2BD46;
  --blue: #BFC8D3;



  --background-dark: var(--oc-gray-9);
  --card-dark: var(--oc-gray-8);
  --title-font-dark: var(--oc-gray-1);
  --normal-font-dark: var(--oc-gray-4);

  --input-background-dark: var(--oc-gray-3);
  --input-font-dark: var(--oc-gray-9);

  --apply-button: var(--oc-blue-4);

  --delete-button: var(--oc-red-4);

  --card-border-dark: var(--oc-gray-7);

  --card-border-shadow: 0rem 0rem .5rem 0 var(--oc-gray-8);

  --list-item: ;
}


*, *::before, *::after {
  box-sizing: border-box;
  
}
* {
  margin: 0;
  padding: 0;
  z-index: 1;

}
html, body {
  margin: 0;
  padding: 0;
  
  
  font-family: recursive;
  font-variation-settings: var(--mono), var(--casl), var(--slnt), var(--CRSV);
  font-weight: var(--wght);
}
body {
  
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  
  background-color: var(--background-dark);
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--bold-wght);
  color: var(--title-font-dark);
}

#root, #__next {
  isolation: isolate;
}


.element--border--primary {
  border: solid var(--card-border-dark) 1px;
  border-radius: 1rem;
}



.settings_button{
  width: 5rem;
  padding: .5rem;
  background-color: var(--blue);
  
    
  display: flex;
  justify-content: center;
}

.buy_button{
  width: 6rem;
  padding: .5rem;
  background-color: var(--green);
  
  display: flex;
  justify-content: center;
}


.flex {
  display: flex;
  gap: .5rem;
}


.horizontal_list {
  display: flex;
  overflow-x: scroll;
  padding: 0 .5rem;
  margin: 0 -.5rem;
  gap: .5rem;
  height: 100%;
 
  scrollbar-width: none;
}

.horizontal_list_item {
    height: 2rem;
    flex: 0 0 auto;
    min-width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
    
.selected {
  background-color: var(--oc-teal-8);
}
.unselected {
  background-color: var(--oc-cyan-8);
}

input, textarea{
  border: none;
  background-color: var(--input-background-dark);
  color: var(--input-font-dark);
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  outline: 0;
  resize:none;
  overflow: auto;
}

summary { 
    cursor: pointer;
}

summary > * {
    display: inline;
}